In [1]:
x = 5

In [4]:
print(x)

[1] 5

In [9]:
steps = pi/2


sin(3*steps)

[1] -1

In [12]:
rpg <- data.frame(
    Nombre = c("Cloud", "Tiffa", "Aerith", "Barret"),
    Vida_max = c(100L, 90L, 120L, 150L),
    Ataque = c(75, 80, 30, 65),
    Defensa = c(50, 20, 45, 60),
    Vivo = c(TRUE, TRUE, FALSE, TRUE)
)

rpg

  Nombre Vida_max Ataque Defensa Vivo
1 Cloud  100      75     50       TRUE
2 Tiffa   90      80     20       TRUE
3 Aerith 120      30     45      FALSE
4 Barret 150      65     60       TRUE

In [13]:
ncol(rpg)
nrow(rpg)

[1] 5

[1] 4

In [15]:
rpg[2]

  Vida_max
1 100
2  90
3 120
4 150

In [25]:
 rpg["Nombre"]

  Nombre
1 Cloud
2 Tiffa
3 Aerith
4 Barret

In [26]:
summary(rpg)

    Nombre     Vida_max         Ataque         Defensa         Vivo
 Aerith:1   Min.   : 90.0   Min.   :30.00   Min.   :20.00   Mode :logical
 Barret:1   1st Qu.: 97.5   1st Qu.:56.25   1st Qu.:38.75   FALSE:1
 Cloud :1   Median :110.0   Median :70.00   Median :47.50   TRUE :3
 Tiffa :1   Mean   :115.0   Mean   :62.50   Mean   :43.75
            3rd Qu.:127.5   3rd Qu.:76.25   3rd Qu.:52.50
            Max.   :150.0   Max.   :80.00   Max.   :60.00